
.logo {
  cursor: pointer;
}
.items-link {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  color: rgb(248, 248, 248);

}
.items-link a {
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.center-y{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .5s ease;
  margin-left: 50px;
  font-size: .8em;
  font-family: 'Quicksand', sans-serif;
  
  &:hover{
    opacity: .5;
  }

  .mat-icon{
    margin-left: 8px;
    
  }
}
#barra1{
  position: absolute;
  background-color: rgb(0, 0, 0);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 10%;
  top:0%;
}
#tasa{
  position: absolute;
  top:900%;
  left: 96%;
  z-index: 100;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 18px;
}
img{
  position: absolute;
  height: 120%;
  
}