
@import "/src/app/utils/settings";

.color-primary {
    color: $color-primary;
    
}
#uno{
    position: absolute;
    height: 112%;
    width: 100%;
    right:80%;
    top: 0%;
    background-color: black;
}
#foto{
    position: absolute;
    height: 70%;
    width: 40%;
    right:90%;
    top:30%;
}
html{
    background-color: rgba(117, 111, 111, 0.733);
}

body{
   
    width: 100%;
    position: absolute;
    left:0%;
    height: 100%;
    top:0%;
    overflow-y:hidden;
    overflow-x:hidden;
}


.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -6em;
    position:absolute;
    left:30%;
}

.cuadro{
    
   
    width: 50%;
}

.container__input {
    width: 100%;
   
}
.container__forget-password {
    display: flex;
    justify-content: end;
    text-decoration-line: underline;
    font-size: 0.9em;
}
.container__button {
    width: 30%;
    margin-top: 20px;
    color: aliceblue;
    background-color: rgb(79, 79, 219);
    border-radius: 20px;
}
#logo{
    position: absolute;
    height: 20%;
    right:125%;
    top: 12%;
}
h1 {
        
    margin-bottom: 30px;
    color:black;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cuadro3 field{
    position: absolute;
    width: 100%;
    background-color: bisque;
}
#medio{
    position: absolute;
    height: 70%;
    width: 60%;
    top: 0%;
    left: 22%;
    background-color: rgb(255, 255, 255);
}
#medio a{
    position: absolute;
    top:115%;
    left: 10%;

}
#medio button{
    position: absolute;
    top:90%;
    
    left:30%;
}
#medio1{
    position: absolute;
    height: 70%;
    width: 50%;
    top: 25%;
    left: 32%;
    
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border-width: 10%;
    border-color: rgb(228, 0, 0);
}