<body >
  <html>
<div class="container">
  <div class="cuadro">
    
    <h1>R E G I S T R A R S E</h1>
    <div id="uno"></div>
    <img id="logo" src="assets/logo.jpeg" alt="">
    <img id="foto"src="https://us.123rf.com/450wm/in8finity/in8finity1405/in8finity140500127/28294504-euro-icono-dinero-con-bolsa-en-el-fondo-negro-ilustraci%C3%B3n-vectorial-.jpg?ver=6" alt="">
   
    <form [formGroup]="form" (ngSubmit)="submitLogin()">
      <div id="medio1">
      <div id="medio">
        <br>
        <h1>R E G I S T R A R S E</h1>
<br>
<br>


        <label style="font-family:Georgia, 'Times New Roman', Times, serif;color:black;">Correo Electrónico</label>
        <mat-form-field appearance="outline" class="container__input">
          <input matInput placeholder=""   autocomplete="off" formControlName="email" required />
          <mat-icon matSuffix class="color-primary"></mat-icon>
        </mat-form-field>
    
        <br>
        <br>



      
 
        <label style="font-family:Georgia, 'Times New Roman', Times, serif; color:black">Contraseña</label>
        <mat-form-field  appearance="outline" class="container__input">     
 <input matInput  placeholder="" autocomplete="off" type="password"  formControlName="password" required  />
 <!-- la contraseña -->
          <mat-icon matSuffix class></mat-icon>
        </mat-form-field>
      
        <button  mat-raised-button  class="container__button" type="submit"  > INICIAR</button>
      
     <a (click)="openDialog()" style="color: blue; text-decoration: underline;">No tienes cuenta ? Crear una nueva </a>
    </div>
  </div>
    </form>
    
  
    
  </div>
</div>

</html>
</body>