<table matSort >
    <tr>
      <th style="display: none;"mat-sort-header="name" >Tasa Efectiva Anual</th>
      <th style="display: none;" mat-sort-header="calories" >N° de días transcurridos</th>
      <th style="display: none;" mat-sort-header="fat" >Tasa Efectiva a {{dataModel.diasTranscurridos}} dias</th>
      <th style="display: none;" mat-sort-header="carbs" >Tasa Descontada a {{dataModel.diasTranscurridos}} dias</th>
      <th style="display: none;" mat-sort-header="protein" >Descuento por {{dataModel.diasTranscurridos}} dias</th>
      <th style="display: none;" mat-sort-header="protein" >Retencion</th>
    </tr>
    <tr >
        <td style="display: none;"class="table-style">{{dataModel.dataResponse.tasaEfectivaAnual}}%</td>
        <td style="display: none;"class="table-style">{{dataModel.dataResponse.diasTranscurridos}}</td>
        <td style="display: none;"class="table-style">{{dataModel.dataResponse.tasaEfectivaXdias}}%</td>
        <td style="display: none;"class="table-style">{{dataModel.dataResponse.tasaDescontada}}%</td>
        <td style="display: none;" class="table-style">{{dataModel.dataResponse.descuentoTotal}}</td>
        <td style="display: none;"class="table-style">{{dataModel.dataResponse.retencionInput}}</td>
      </tr>
    <tr>
        <th style="display: none;"mat-sort-header="name" class="table-style">Costes Iniciales</th>
        <th style="display: none;"mat-sort-header="calories" class="table-style">Valor Neto</th>
        <th style="display: none;"mat-sort-header="fat" class="table-style">Valor Total a Recibir</th>
        <th style="display: none;"mat-sort-header="carbs" class="table-style">Costes Finales</th>
        <th style="display: none;" mat-sort-header="protein" class="table-style">Valor Total a Entregar</th>
        <th style="display: none;"mat-sort-header="protein" class="table-style">TCEA</th>
      </tr>
      <tr >
        <td style="display: none;">{{dataModel.dataResponse.CyGI}}</td>
        <td style="display: none;">{{dataModel.dataResponse.valorNeto}}</td>
        <td style="display: none;">{{dataModel.dataResponse.valorTotalRecibirVR}}</td>
        <td style="display: none;">{{dataModel.dataResponse.CyGF}}</td>
        <td style="display: none;">{{dataModel.dataResponse.valorTotalEntregarVE}}</td>
        <td style="display: none;">{{dataModel.dataResponse.tasaCosteEfectivaAnual}}%</td>
      </tr>
   
  </table>
<h1>Registro correcto</h1>
  <button id="boton"

 
  (click)="openDialogSave()"
>
  Continuar
</button>