<body>
  

<div class=>
  <app-navbar></app-navbar>

  <div class="body__table">
    <div class="mat-elevation-z8">
      <div id="total">
      <table style="background-color:  rgba(163, 162, 162, 0.596);; color:black ;  position: absolute; left :-1%; width: 95%;" ble mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
          <th style="color: blue;" mat-header-cell *matHeaderCellDef>Id.</th>
          <td mat-cell *matCellDef="let element">{{ element.id  }}</td>
        </ng-container>
        <ng-container matColumnDef="fechaEmision">
          <th style="color: blue;" mat-header-cell *matHeaderCellDef>F. Emision</th>
          <td mat-cell *matCellDef="let element">{{ element.fechaEmision | date: "MM/dd/yyyy"   }} </td>
        </ng-container>
        <ng-container matColumnDef="fechaPago">
          <th style="color: blue;" mat-header-cell *matHeaderCellDef>F. Pago</th>
          <td mat-cell *matCellDef="let element">{{ element.fechaPago | date: "MM/dd/yyyy"   }}</td>
        </ng-container>
        <ng-container matColumnDef="fechaDescuento">
          <th style="color: blue;" mat-header-cell *matHeaderCellDef>F. Descuento</th>
          <td mat-cell *matCellDef="let element">
            {{ element.fechaDescuento | date: "MM/dd/yyyy"   }}
          </td>
        </ng-container>
        <ng-container matColumnDef="tea">
          <th style="color: blue;" mat-header-cell *matHeaderCellDef>TEA</th>
          <td mat-cell *matCellDef="let element">
            {{ element.tasaEfectivaAnual  }}%
          </td>
        </ng-container>

        <ng-container matColumnDef="diasTranscurridos">
          <th style="color: blue;" mat-header-cell *matHeaderCellDef>D.Trans</th>
          <td mat-cell *matCellDef="let element">
            {{ element.diasTranscurridos }}%
          </td>
        </ng-container>

        <ng-container matColumnDef="tasaEfectiva">
          <th style="color: blue;" mat-header-cell *matHeaderCellDef>T.Efect</th>
          <td mat-cell *matCellDef="let element">
            {{ element.tasaEfectivaXdias }}%
          </td>
        </ng-container>

        <!-- | date: "MM/dd/yyyy" -->

         <ng-container matColumnDef="tasaDescontada">
          <th style="color: blue;" mat-header-cell *matHeaderCellDef>T.Desc</th>
          <td mat-cell *matCellDef="let element">
            {{ element.tasaDescontada }}%
          </td>
        </ng-container>

        <ng-container matColumnDef="descuento">
          <th style="color: blue;" mat-header-cell *matHeaderCellDef>Desc</th>
          <td mat-cell *matCellDef="let element">
            {{ element.descuentoTotal }}
          </td>
        </ng-container>

        <ng-container matColumnDef="retencion">
          <th style="color: blue;" mat-header-cell *matHeaderCellDef>Retencion</th>
          <td mat-cell *matCellDef="let element">
            {{ element.retencionInput }}
          </td>
        </ng-container>
        <ng-container matColumnDef="costesIniciales">
          <th style="color: blue;" mat-header-cell *matHeaderCellDef>C.I</th>
          <td mat-cell *matCellDef="let element">{{ element.CyGI }}</td>
        </ng-container>
        <ng-container matColumnDef="valorNeto">
          <th style="color: blue;" mat-header-cell *matHeaderCellDef>V.Neto</th>
          <td mat-cell *matCellDef="let element">{{ element.valorNeto }}</td>
        </ng-container>
        <ng-container matColumnDef="valorTotalRecibir">
          <th style="color: blue;" mat-header-cell *matHeaderCellDef>V.T.Recibido</th>
          <td mat-cell *matCellDef="let element">
            {{ element.valorTotalRecibirVR }}
          </td>
        </ng-container>
        <ng-container matColumnDef="costesFinales">
          <th style="color: blue;" mat-header-cell *matHeaderCellDef>C.F</th>
          <td mat-cell *matCellDef="let element">{{ element.CyGF }}</td>
        </ng-container>
        <ng-container matColumnDef="ValorTotalEntregar">
          <th style="color: blue;" mat-header-cell *matHeaderCellDef>V.T.Entregar</th>
          <td mat-cell *matCellDef="let element">
            {{ element.valorTotalEntregarVE }}
          </td>
        </ng-container>
        <ng-container matColumnDef="TCEA">
          <th style="color: blue;" style="color: blue;" mat-header-cell *matHeaderCellDef>TCEA</th>
          <td mat-cell *matCellDef="let element">
            {{ element.tasaCosteEfectivaAnual }}%
          </td>
        </ng-container> 

        <!--    <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              aria-label="Example icon button with a vertical three dot icon"
              (click)="openDialogDelete(element)"
            >
              <mat-icon class="icon-delete">delete</mat-icon>
            </button>
            <button
              mat-icon-button
              aria-label="Example icon button with a vertical three dot icon"
            >
              <mat-icon class="icon-wstp">whatsapp</mat-icon>
            </button>
          </td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      
    </div>
  </div>
</div>
</div>
</body>