.contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-direction: column;
  .table-one {
  // background: green;

    display: flex;
    .table-one__left {
      .table-one__left__inputs {
        // background: red;
        margin-right:80px;
        // display: grid;
        // grid-template-columns: repeat(2, 1fr);
      }
    }
    
    
  }
 
}
h1,h2{
  color: blue;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  font-size: 20px;
}
h5{
  color: rgb(255, 8, 0);
}
h3,h4{
  color: rgb(110, 47, 192);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  font-size: 20px;
}
#todo{
  position:absolute;
  height: 220%;
  width: 45%;
  top:15%;
  background-color: white;
  left: 25%;
  border-radius: 20px;
}
body{
  background-color: gray;
  height: 250%;
}
img{
  position: absolute;
  left: 55%;
  height: 20%;
  top: 50%;
}
#insertar{
  position:absolute;
  top: 220%;
  left:38%;
  color: white;
  background-color: rgb(79, 79, 219);
}
#primero{
  position:absolute;
  left:10%;
  top:-4%;
}
.segundo{
position: absolute;
top: 130%;
left:30%;

}
table {
  width: 100%;
}


.body__table{
  width: 90%;
  margin: auto;
  // margin-top: 30px;
}
.flex{
  display: flex;
}
.container__main{
  // width: 80%;
  // margin: auto;
  // background: #000;
  margin-top: 50px;
}
.container__input{
  width: 100%;
}
.table-two__left{
  margin-top: 80px;
}
.container__button_left{
  text-align: right;
  margin-bottom: 20px;
  margin-right: 20px;
}
.container__button_right{
  text-align: right;
  margin-bottom: 20px;
  margin-right: 20px;
}
.width-30{
  width: 30%;
}
.center{
  text-align: center;
}
.btn-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__button{
  width: 300px;
  margin-top: 50px;
  text-align: center;
}
table{
  position:absolute;
  left:70;
}